[submodule "colorscheme PaperColor"]
	path = pack/colors/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
	shallow = true
[submodule "tpope/vim-fugitive"]
	path = pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	shallow = true
[submodule "vim-airline/vim-airline"]
	path = pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
	shallow = true
[submodule "vim-airline/vim-airline-themes"]
	path = pack/vim-airline/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	shallow = true
[submodule "linters/ALE"]
	path = pack/linters/start/ale
	url = https://github.com/dense-analysis/ale.git
	shallow = true
[submodule "rbong/vim-flog"]
	path = pack/rbong/start/vim-flog
	url = https://github.com/rbong/vim-flog
	shallow = true
[submodule "sheerun/vim-polyglot"]
	path = pack/syntax/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	shallow = true
[submodule "kien/ctrlp"]
	path = pack/utils/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "Eliot00/git-lens"]
	path = pack/utils/start/git-lens.vim
	url = https://github.com/Eliot00/git-lens.vim.git
	shallow = true
[submodule "colors/ayu-vim"]
	path = pack/colors/start/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
	shallow = true
